<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Diário de Leitura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-books-api-key" content="<%= Rails.application.credentials.google_books_api_key %>">
    <link rel="icon" href="/icon.png" type="image/png">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
